<div class="col-lg-8 offset-lg-2" [@fadeIn]>

	<!-- JUMBOTRON -->
	<div class="jumbotron ">
    	<h1 class="display-4">{{title}}</h1>
	  	<p class="lead">Disfruta de los animales exóticos!</p>

	  	<hr class="my-4">
	  	
 	 	<p class="">
	    	<a class="btn btn-primary btn-lg" [routerLink]="['/animals']" role="button">Ver animales</a>
	    	<a class="btn btn-success btn-lg" [routerLink]="['/keepers']" role="button">Ver cuidadores</a>
	    	<a class="btn btn-info btn-lg" [routerLink]="['/contact']" role="button">Contacto</a>
	  	</p>
	</div>

</div>


